<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>I'm Warrior of Web Dev</h1>
    <p>
      Food truck normcore jean shorts flannel vice palo santo, try-hard tousled. YOLO tousled next level offal kinfolk kitsch.
      Poke YOLO cornhole keytar 3 wolf moon literally mumblecore cronut, slow-carb pug forage viral gastropub vegan.
      Freegan hot chicken seitan, crucifix bushwick scenester tattooed etsy locavore jianbing. Freegan thundercats cornhole try-hard.
      Disrupt bicycle rights portland artisan flexitarian. Kale chips trust fund cloud bread small batch, live-edge swag YOLO post-ironic
      narwhal ennui stumptown man braid hashtag locavore organic. Lomo shabby chic jianbing, cred vegan vinyl meggings actually
      everyday carry chambray banjo. Tattooed letterpress chambray, meggings hammock bushwick tofu cornhole hella readymade kitsch
    </p>
  </div>
</div>
